<body style="background-color:powderblue;">
    <div class="wrapper">
        <br>
        <h1 align="center">HUITZ</h1>
        <div class="container">
   
          <img src="https://image.ibb.co/htzft0/logofinal.png" alt="logofinal" height="70%">
        
        
            <form class="form" #registerForm="ngForm">
                <input type="text" [(ngModel)]="Usuario" name="Usuario" placeholder="Usuario" class="inputuser">
                <input type="password"  [(ngModel)]="Password" name="Password" placeholder="Contraseña" class="inputpass">
                <button type="submit" (click)="click()" id="login-button">Ingresar</button>
            </form>

        </div>
      
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    </body>